.about-wrapper{
    margin: 0 auto;
    width: 700px;
    height: 500px;
}
.me-nina {
    height: 100%;
    /* width: 100%; */
}
.h1{
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    font-family: ALK Life;
}
.about-section1 p{
    font-family: BPG Arial;
    text-align: justify;
    line-height: 30px;
    color: black
}
.paragrap span {
    font-weight: bold;
}
.container {
    height: 30px;
    margin-top: 20px;
}
.Slides img {
    height: 650px;
}
.about-section1 {
    padding-top: 120px;
}
