body {
    /* background-image: url(https://img.freepik.com/free-vector/spring-floral-watercolor-background-vector-green-with-leaf-illustration_53876-126350.jpg?w=996&t=st=1669552567~exp=1669553167~hmac=9581cad6db0b7596cb97569dd3ba9b730567f4b0283407fd6fe4a5d65012f345); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(109, 7, 7, 0.049)
}
.div-wrapper {
    border-radius: 30px;
    margin: 30px 0 50px;
    height: 500px;
    max-width: 1400px;
    width: 100%;
    display: flex;
    overflow:hidden;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(201, 204, 204, 0.204);  

}
.div-wrapper:hover{
    box-shadow: 0 0px 8px 0 #1A3969, 0 6px 20px 0 rgba(155, 57, 57, 0.19);
}
.contact-section {
  margin-bottom: 50px;
    padding: 130px 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left-div {
    height: 400px;
    max-width: 500px;
    width: 100%;
}
.left-div h1{
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'ALK life';
    color: rgb(63, 63, 63);
    text-align: center;
}
.right-div {
    height: 400px;
    max-width: 500px;
    width: 100%;
    border-radius: 30px 0;
}
.frame {
    border-radius: 30px 0;
}
.contact-img {
    width: 100%;
}
.soc-media {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 50%;
    font-size: 50px;
}

.facebook,.phone,.instagram,.mail{
    color: #F05F25;
}

.facebook:hover {
    color: #6E164A;
}
.instagram:hover {
    color: #6E164A;
    
}
.phone:hover{
    color: #6E164A;
}
.mail:hover {
    color: #6E164A;
} 


/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .footer-wraper {
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 90px;
    flex-wrap: wrap;
  }
  .footer-div-1 {
    max-width: 280px;
    width: 100%;
  }
  .footer-div-1 h2 {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer-div-1 p {
    color: #B1B1B1;
    font-size: 14px;
    line-height: 19px;
    
  }

  .useful-links {
    max-width: 110px;
    width: 100%;
  }
  .useful-links a {
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;

  }
  .useful-links h3 {
    font-family:'BPG Arial';
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-bottom: 21px;
  }
 
  .privacy {
    font-family:'Poppins', sans-serif;
    max-width: 100px;
    width: 100%;
  }
  .privacy a {
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;
  }
  .privacy h3 {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 21px;
  }
    
  .contact {
    font-family:'Poppins', sans-serif;
    max-width: 200px;
    width: 100%;
  }
  .contact h3 {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 21px;
  }
  .contact i {
    color: #5863F8;
    max-width: 16px;
    width: 1100%;
    height: 12.83px;
  }
  .contact a {
    font-size: 14px;
    color: #FFFFFF;
  }
  .contact-li {
    padding: 10px 0;
  }
  .contact-li a {
    padding-left: 14px;
  }
  .copyright {
    font-family:'Poppins', sans-serif;
    margin-right: auto;
    color: #B1B1B1;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 40px;
  }
  
  .copyright span {
    font-family:'Poppins', sans-serif;
    color: #5863F8;
  }