
body{
  margin: 0;
  cursor: default;
  background-color: rgba(109, 7, 7, 0.049)
}
a{
  color: black;
  text-decoration: none;
}
header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 #0A7348;
  position: fixed;
  width: 100%;  
  z-index: 999;
  height: 90px;
  left: 0;
  top: 0;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
.navigacia {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  max-width: 1400px;
  width: 100%;
}
  
li{
  list-style: none;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  max-width: 1400px;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.logo {
  font-family: 'ALK Life';
  font-size: 25px;
}
.nav-link{
  cursor: pointer;
  font-family: BPG Arial;
  font-size: 16px;
  transition: 0.5s ease;
  position: relative;
}
.nav-link:hover{
  color: gray;
}
.nav-link::after {
  content: " ";
  position: absolute;
  background-color: green;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.3s linear;
}
.nav-link:hover::after{
  width: 100%;
}

/* HAMBURGER */
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: rgb(108, 0, 0);
}
@media (max-width:768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #0A7348;
  width: 100%;
  text-align: center;
  transition: 0.3 s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .menu.active {
    left: 0;
  }
  .nav-link {
    color: white;
  }
}




/* -------- */
.div-wrapper {
    border-radius: 30px;
    margin: 30px 0 50px;
    height: 500px;
    max-width: 1400px;
    width: 100%;
    display: flex;
    overflow:hidden;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(201, 204, 204, 0.204);  

}
.div-wrapper:hover{
    box-shadow: 0 0px 8px 0 #1A3969, 0 6px 20px 0 rgba(155, 57, 57, 0.19);
}
.contact-section {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    margin-top: 140px;
    margin-bottom: 50px;
}
@media (max-width:1200px) {
  .div-wrapper {
    flex-direction: column;
    height: auto;
  }
}
@media (max-width:980px) {
  .div-wrapper {
    flex-direction: column;
    height: auto;
  }
  .soc-media {
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
  }
}
@media (max-width:400px) {
  .soc-media {
    font-size: 5px;
    height: auto;
  }
  .privacy {
    margin-top: 20px;
  }
}

.left-div {
    height: 400px;
    max-width: 500px;
    width: 100%;
}
.left-div h1{
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'ALK life';
    color: rgb(63, 63, 63);
    text-align: center;
}
.right-div {
    height: 400px;
    max-width: 500px;
    width: 100%;
    border-radius: 30px 0;
}
.frame {
    border-radius: 30px 0;
}
.contact-img {
    width: 100%;
}
.soc-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    font-size: 50px;
}

.facebook,.phone,.instagram,.mail{
    color: #F05F25;
}

.facebook:hover {
    color: #6E164A;
}
.instagram:hover {
    color: #6E164A;
    
}
.phone:hover{
    color: #6E164A;
}
.mail:hover {
    color: #6E164A;
} 


/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
  }
  .footer-wraper {
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 90px;
    flex-wrap: wrap;
  }
  .footer-div-1 {
    max-width: 280px;
    width: 100%;
  }
  .footer-div-1 h2 {
    font-family:'BPG Arial';
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer-div-1 p {
    font-family: 'BPG Arial';
    color: #B1B1B1;
    font-size: 14px;
    line-height: 19px;
    
  }

  .useful-links {
    max-width: 110px;
    width: 100%;
  }
  .useful-links a {
    font-family:'BPG Arial';
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;

  }
  .useful-links h3 {
    font-family:'BPG Arial';
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-bottom: 21px;
  }
 
  .privacy {
    font-family:'Poppins', sans-serif;
    max-width: 100px;
    width: 100%;
  }
  .privacy a {
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;
  }
  .privacy h3 {
    font-family:'BPG Arial';
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 21px;
  }
    
  .contact {
    font-family:'Poppins', sans-serif;
    max-width: 200px;
    width: 100%;
  }
  .contact h3 {
    font-family:'BPG Arial';
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 21px;
  }
  .contact i {
    color: #5863F8;
    max-width: 16px;
    width: 1100%;
    height: 12.83px;
  }
  .contact a {
    font-size: 14px;
    color: #FFFFFF;
  }
  .contact-li {
    padding: 10px 0;
  }
  .contact-li a {
    padding-left: 14px;
  }
  .copyright {
    font-family:'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    color: #B1B1B1;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .copyright span {
    font-family:'Poppins', sans-serif;
    color: #5863F8;
  }