/* HEADER */

body{
  cursor: default;
  background-color: rgba(109, 7, 7, 0.049)
}
a{
  color: white;
  text-decoration: none;
}
.header {
  z-index: 999;
  height: 90px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #0A7348;
  box-shadow: 1px 1px px 0 rgba(0,0,0,.1);
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
.navigation-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  height: 45px;
}
.logo:hover{
  height: 50px;
}
.navigacia {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  max-width: 1400px;
  width: 100%;
}
.nav-ul {
  display: flex;
  font-size: 20px;
  font-family: lato;
  font-weight: bold;
  text-transform: uppercase;
  font-family: lato;
  gap: 0 40px;
}
.nav-li {
  text-decoration: none;
  position: relative;
  font-family: BPG Arial;
  letter-spacing: 5px;
}
.nav-li::after{
  content: '';
  position: absolute;
  background-color: #6E164A;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
}
.nav-li:hover:after {
  width: 100%;
  transition: 0.5s ease-out;
}

/*  */
#ul-list{
    overflow: hidden;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(244, 94, 0);
    font-size: 15px;
    font-family: 'BPG Nino Mtavruli';
    font-weight: bold;
}
.our-customers {
    margin-top: 120px;
    max-width: 1600px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 80px 20px 250px;
}
.image-block{
    
    max-width: 200px;
    height: 150px;
    margin-right: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#loadPrev , #loadNext{ 
    border-radius: 10px;
    background-color: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    font-size: 25px;
    font-family: 'BPG Arial';
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .footer-wraper {
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 90px;
    flex-wrap: wrap;
  }
  .footer-div-1 {
    max-width: 280px;
    width: 100%;
  }
  .footer-div-1 h2 {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer-div-1 p {
    color: #B1B1B1;
    font-size: 14px;
    line-height: 19px;
    
  }

  .useful-links {
    max-width: 110px;
    width: 100%;
  }
  .useful-links a {
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;

  }
  .useful-links h3 {
    font-family:'BPG Arial';
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-bottom: 21px;
  }
 
  .privacy {
    font-family:'Poppins', sans-serif;
    max-width: 100px;
    width: 100%;
  }
  .privacy a {
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;
  }
  .privacy h3 {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 21px;
  }
    
  .contact {
    font-family:'Poppins', sans-serif;
    max-width: 200px;
    width: 100%;
  }
  .contact h3 {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 21px;
  }
  .contact i {
    color: #5863F8;
    max-width: 16px;
    width: 1100%;
    height: 12.83px;
  }
  .contact a {
    font-size: 14px;
    color: #FFFFFF;
  }
  .contact-li {
    padding: 10px 0;
  }
  .contact-li a {
    padding-left: 14px;
  }
  .copyright {
    font-family:'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    color: #B1B1B1;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .copyright span {
    font-family:'Poppins', sans-serif;
    color: #5863F8;
  }