body{
  margin: 0;
  cursor: default;
  background-color: rgba(109, 7, 7, 0.049)
}
a{
  color: black;
  text-decoration: none;
}

/* HEADER */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 #0A7348;
  position: fixed;
  width: 100%;  
  z-index: 999;
  height: 90px;
  left: 0;
  top: 0;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  }
.navigacia {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  max-width: 1400px;
  width: 100%;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
.header li a {
  text-decoration: none;
  font-family: BPG Arial;
  letter-spacing: 5px;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  }
  
.header li a:hover{
  border-radius: 20px;
  color: white;
  background-color: #F05F25;
  }
  
.header .logo {
  background-color: #F05F25;
  color: white;
  font-family: 'ALK life';
  font-size: 25px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

  
  /* menu */
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
  }
  
.header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
.header .menu-icon .navicon:before {
    top: 5px;
  }
  
.header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
 
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

/* ----- */
#ul-list{
    overflow: hidden;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(244, 94, 0);
    font-size: 15px;
    font-family: 'BPG Nino Mtavruli';
    font-weight: bold;
}
.our-customers {
    margin-top: 120px;
    max-width: 1600px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 80px 20px 250px;
}
.image-block{
    
    max-width: 200px;
    height: 150px;
    margin-right: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#loadPrev , #loadNext{ 
    border-radius: 10px;
    background-color: #F05F25;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    font-size: 25px;
    font-family: 'BPG Arial';
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .footer-wraper {
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 90px;
    flex-wrap: wrap;
  }
  .footer-div-1 {
    max-width: 280px;
    width: 100%;
  }
  .footer-div-1 h2 {
    font-family:'BPG Arial';
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer-div-1 p {
    font-family:'BPG Arial';
    color: #B1B1B1;
    font-size: 14px;
    line-height: 19px;
    
  }

  .useful-links {
    max-width: 110px;
    width: 100%;
  }
  .useful-links a {
    font-family:'BPG Arial';
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;

  }
  .useful-links h3 {
    font-family:'BPG Arial';
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-bottom: 21px;
  }
 
  .privacy {
    max-width: 100px;
    width: 100%;
  }
  .privacy a {
    font-family:'BPG Arial';
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;
  }
  .privacy h3 {
    font-family:'BPG Arial';
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 21px;
  }
    
  .contact {

    max-width: 200px;
    width: 100%;
  }
  .contact h3 {
    font-family:'BPG Arial';
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 21px;
  }
  .contact i {
    color: #5863F8;
    max-width: 16px;
    width: 1100%;
    height: 12.83px;
  }
  .contact a {
    font-family:'BPG Arial';
    font-size: 14px;
    color: #FFFFFF;
  }
  .contact-li {
    padding: 10px 0;
  }
  .contact-li a {
    padding-left: 14px;
  }
  .copyright {
    font-family:'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    color: #B1B1B1;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .copyright span {
    font-family:'Poppins', sans-serif;
    color: #5863F8;
  }