/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body{
  margin: 0;
  cursor: default;
  background-color: rgba(109, 7, 7, 0.049)
}
a{
  color: black;
  text-decoration: none;
}

/* HEADER */

header {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px 0 #0A7348;
          box-shadow: 1px 1px 4px 0 #0A7348;
  position: fixed;
  width: 100%;  
  z-index: 999;
  height: 90px;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigacia {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px;
  max-width: 1400px;
  width: 100%;
}
  
li{
  list-style: none;
}
.navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  max-width: 1400px;
  width: 100%;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.logo {
  font-family: 'ALK Life';
  font-size: 25px;
}
.nav-link{
  cursor: pointer;
  font-family: BPG Arial;
  font-size: 16px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}
.nav-link:hover{
  color: gray;
}
.nav-link::after {
  content: " ";
  position: absolute;
  background-color: green;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -8px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.nav-link:hover::after{
  width: 100%;
}

/* HAMBURGER */
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  -o-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: rgb(108, 0, 0);
}
@media (max-width:768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0A7348;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3 s;
  -o-transition: 0.3 s;
  transition: 0.3 s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .menu.active {
    left: 0;
  }
  .nav-link {
    color: white;
  }
}

/* ----- */
#ul-list{
    overflow: hidden;
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: rgb(244, 94, 0);
    font-size: 15px;
    font-family: 'BPG Nino Mtavruli';
    font-weight: bold;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
  
}
.our-customers {
  margin-top: 120px;
  max-width: 1600px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (mac-width:400px) {
  .ul-list {
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
    
  }
}

.image-block{
    max-width: 200px;
    height: 150px;
    margin-right: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
    
    
}

#loadPrev , #loadNext{ 
    border-radius: 10px;
    color: #F05F25;
    cursor: pointer;
    margin-top: 40px;
    border: none;
    font-size: 25px;
    font-family: 'BPG Arial';
}
.arrows{
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#loadNext {
  margin-left: 30px;
}

/* FOOTER */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #121212;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .footer-wraper {
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-div-1 {
    max-width: 280px;
    width: 100%;
  }
  .footer-div-1 h2 {
    font-family:'BPG Arial';
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer-div-1 p {
    font-family:'BPG Arial';
    color: #B1B1B1;
    font-size: 14px;
    line-height: 19px;    
  }
  @media (max-width:600px) {
    .footer-div-1 p {
      margin-bottom: 20px;
    }
  }


  .useful-links {
    max-width: 110px;
    width: 100%;
  }
  @media (max-width:600px) {
    .useful-links h3{
      margin-bottom: 20px;
    }
  }
  .useful-links a {
    font-family:'BPG Arial';
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;

  }
  .useful-links h3 {
    font-family:'BPG Arial';
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-bottom: 21px;
  }
 
  .privacy {
    max-width: 100px;
    width: 100%;
  }
  .privacy a {
    font-family:'BPG Arial';
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;
  }
  .privacy h3 {
    font-family:'BPG Arial';
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 21px;
  }
    
  .contact {

    max-width: 200px;
    width: 100%;
  }
  .contact h3 {
    font-family:'BPG Arial';
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 21px;
  }
  .contact i {
    color: #5863F8;
    max-width: 16px;
    width: 1100%;
    height: 12.83px;
  }
  .contact a {
    font-family:'BPG Arial';
    font-size: 14px;
    color: #FFFFFF;
  }
  .contact-li {
    padding: 10px 0;
  }
  .contact-li a {
    padding-left: 14px;
  }
  .copyright {
    font-family:'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    color: #B1B1B1;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .copyright span {
    font-family:'Poppins', sans-serif;
    color: #5863F8;
  }