/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.banner {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
}

.landing-img {
  width: 100%;
  border-radius: 100px 0px;   
  margin-top: 30px;
}

.banner-link {
  display: block;
}

body {
   cursor: default;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  h1 {
    font-size: 100px;
    font-family: "ALK life";
    max-width: 40ch;
    text-align: center;
    -webkit-transform: scale(0.94);
        -ms-transform: scale(0.94);
            transform: scale(0.94);
    -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    color: #0A7348;
  }
 
  @media (max-width:800px) {
    .title {
      font-size: 50px;
      letter-spacing: normal;
    }
  }
  @media (max-width:400px) {
    .title {
      font-size: 20px;
      letter-spacing: normal;
    }
  }

  @-webkit-keyframes scale {
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @keyframes scale {
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  
  span:nth-child(1) {
    -webkit-animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
            animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    -webkit-animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
            animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @-webkit-keyframes fade-in {
    100% {
      opacity: 1;
      -webkit-filter: blur(0);
              filter: blur(0);
    }
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      -webkit-filter: blur(0);
              filter: blur(0);
    }
  }
  