/* HEADER */
body{
    cursor: default;
    background-color: rgba(109, 7, 7, 0.049)
  }
a{
    color: white;
    text-decoration: none;
}
.header {
    z-index: 999;
    height: 90px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 128, 0, 1);
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
.navigation-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    height: 45px;
}
.logo:hover{
    height: 50px;
}
.navigacia {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    max-width: 1400px;
    width: 100%;
}
.nav-ul {
    display: flex;
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    text-transform: uppercase;
    font-family: lato;
    gap: 0 40px;
}
.nav-li {
    text-decoration: none;
    position: relative;
    font-family: BPG Arial;
    letter-spacing: 5px;
}
.nav-li::after{
    content: '';
    position: absolute;
    background-color: #6E164A;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
}
.nav-li:hover:after {
    width: 100%;
    transition: 0.5s ease-out;
}

.main-section {
    padding: 130px 40px 0 40px;
}
.main-section h1 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 40px;
    font-family: ALK Life;
    color: rgb(63, 63, 63);
    margin-bottom: 50px;
}
.main-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    height: 500px;
    border: 3px;
    border-style: solid;
    border-color: coral;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0);
    gap: 0 20px;
}
.product-wrapper {
    margin-top: 20px;
    height: 500px;
    border-radius: 30px;
    width: 200px;
    justify-content: space-between;
    justify-content: center;
}
.product-wrapper img:hover {
    margin-bottom: 20px;
    transform: scale(1.5);
    transition: 0.5s ease-out;
    cursor: pointer;
}
.product-wrapper img {
    align-self: center;
    height: 200px;
}
.product-wrapper p {
    line-height: 15px;
    margin-top: 10px;
    text-align: justify;
    width: 200px;
    font-size: 10px;
    font-family: BPG Nino Mtavruli;
}
.product-wrapper h2 {
    color: #6E164A;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: BPG Arial;
    font-weight: bold;
}

/* RECIPE */
body {
    background: #fff;
    font: 15px BPG Arial;
    color: rgb(145, 123, 123);
  }
  .recipe-card {
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
    -moz-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
    box-shadow: 0px 0px 20px 1px rgba(145, 146, 149, 0.779);
    border:1px solid #f0f1f3;
    width: 300px;
    margin: 50px auto;
  }
  .recipe-card__body {    
      padding: 20px;
  }
  .recipe-card__heading {
    padding: 0;
    margin: 0 0 0;
    margin-bottom: 20px;
    font-size: 20px;
    color: #444;
  }
  .recipe-card__subhead { 
    font-style: italic;
    font-size: 13px;
    color: #555;
    margin-bottom: 30px;
  }
  .recipe-card__ingredients {
    font-family: 'BPG Nino Mtavruli';
    line-height: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    column-count: 1;
  }
  
  .recipe-card__nav {
    margin: 0 0 20px;
    padding: 0;
    border-bottom: 1px solid #eb9376;
  }
  .active {
    font-family: BPG Arial;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .pesto-img{
    overflow: hidden;
  }
  
  @media (min-width:599px) {
    .recipe-card {
      max-width: 600px;
      width: 100%;
    }
    .recipe-card__ingredients {
      column-count: 2
    }
  }


.locations h1 {
    font-family: BPG Arial;
    letter-spacing: 5px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.shop-main-wrapper {
    text-align: center;
}
.shop-wrapper {
    margin-top: 30px;
    height: auto;
}
.shop-wrapper img {
    border-radius: 20px;
    height: 100px;
}
.shop-wrapper img:hover {
    border-radius: 20px;
    height: 110px;
    transition: all 0.2s linear;
}

.sections-wrapper {
    padding: 0 40px;
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipt {
    border-radius: 30px;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .footer-wraper {
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 90px;
    flex-wrap: wrap;
    padding: 0 40px;
  }
  .footer-div-1 {
    max-width: 280px;
    width: 100%;
  }
  .footer-div-1 h2 {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer-div-1 p {
    color: #B1B1B1;
    font-size: 14px;
    line-height: 19px;
    
  }

  .useful-links {
    max-width: 110px;
    width: 100%;
  }
  .useful-links a {
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;

  }
  .useful-links h3 {
    font-family:'BPG Arial';
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-bottom: 21px;
  }
 
  .privacy {
    font-family:'Poppins', sans-serif;
    max-width: 100px;
    width: 100%;
  }
  .privacy a {
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;
  }
  .privacy h3 {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 21px;
  }
    
  .contact {
    font-family:'Poppins', sans-serif;
    max-width: 200px;
    width: 100%;
  }
  .contact h3 {
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 21px;
  }
  .contact i {
    color: #5863F8;
    max-width: 16px;
    width: 1100%;
    height: 12.83px;
  }
  .contact a {
    font-size: 14px;
    color: #FFFFFF;
  }
  .contact-li {
    padding: 10px 0;
  }
  .contact-li a {
    padding-left: 14px;
  }
  .copyright {
    font-family:'Poppins', sans-serif;
    margin-right: auto;
    color: #B1B1B1;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 40px;
  }
  
  .copyright span {
    font-family:'Poppins', sans-serif;
    color: #5863F8;
  }
 
  @media (max-width: 1024px) {
    .section2 {
      height: 1000px;
    }
  }
  @media (max-width: 768px) {
      .footer-div-1,
      .blok {
          width: 45%;
      }
    .bar-div {
      display: block;
      font-size: 14px;
    }
    .useful-links , .privacy , .contact {
      margin-top: 20px;
    }
    .contact a{
      font-size: 10px;
    }
    .h3 {
      width: 450px;
      height: 70px;
      font-size: 38px;
    }
    .section4 p {
      font-size: 38px;
      width: 400px;
      height: 70px;
    }
    .sec-3paragraph {
      width: 483px;
      height: 387px;
    }
    .bottom {
      flex-direction: column;
      align-items: center;
    }
    .bottom-mid {
      margin: 30px 0;
    }
  }
  
  @media (max-width: 480px) {
    .contact a{
      font-size: 10px;
    }
    .header {
      width: 400px;
    }
    .footer-div-1,
      .blok {
          width: 100%;
      }
  }