
body{
  margin: 0;
  cursor: default;
  background-color: rgba(109, 7, 7, 0.049)
}
a{
  color: black;
  text-decoration: none;
}

/* HEADER */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 #0A7348;
  position: fixed;
  width: 100%;  
  z-index: 999;
  height: 90px;
  left: 0;
  top: 0;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
.navigacia {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  max-width: 1400px;
  width: 100%;
}
  
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; 
}
  
.header li a {
  text-decoration: none;
  font-family: BPG Arial;
  letter-spacing: 5px;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  }
  
.header li a:hover{
  border-radius: 20px;
  color: white;
  background-color: #F05F25;
  }
  
.header .logo {
  border-radius: 30px;
  background-color: #F05F25;
  color: white;
  font-family: 'ALK life';
  font-size: 25px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

  
  /* menu */
  
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
  
  /* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
  }
  
.header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
.header .menu-icon .navicon:before {
    top: 5px;
  }
  
.header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
 
  

  
  @media (min-width: 1200px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
/* ----------- */
.main-section {
    padding: 130px 40px 0 40px;
}
.main-section h1 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 40px;
    font-family: ALK Life;
    color: rgb(63, 63, 63);
    margin-bottom: 50px;
}
.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    border: 3px;
    border-style: solid;
    border-color: coral;
    border-radius: 30px;
    gap: 0 20px;
}

@media (max-width:1300px) {
  .sections-wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width:980px) {
  .sections-wrapper {
    flex-direction: row;
  }
}

.product-wrapper {
    margin-top: 20px;
    height: 500px;
    border-radius: 30px;
    width: 200px;
    justify-content: space-between;
    justify-content: center;
}
.product-wrapper img:hover {
    margin-bottom: 20px;
    transform: scale(1.5);
    transition: 0.5s ease-out;
    cursor: pointer;
}
.product-wrapper img {
    align-self: center;
    height: 200px;
}
.product-wrapper p {
    line-height: 15px;
    margin-top: 10px;
    text-align: justify;
    width: 200px;
    font-size: 10px;
    font-family: BPG Nino Mtavruli;
}
.product-wrapper h2 {
    color: #6E164A;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: BPG Arial;
    font-weight: bold;
}
.form{
  margin: 50px 0;
}
.pesto_form {
  margin-top: 30px;
  justify-content: space-between;
  text-align: center;
  font-size: 20px;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}
.pesto_form p {
  margin-bottom: 20px;
  color: black;
  font-size: 50px;
  font-family: 'BPG Arial'
}
.pesto_form button {
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-family: 'BPG Arial';
  background-color: Transparent;
  color: #6E164A;
  border-radius: 10px;
  border: none;
}
.pesto_form button:hover{
  color: black;
}
@media (max-width:700px) {
  .pesto_form {
    flex-direction: column;
  }
}



/* RECIPE */
body {
    background: #fff;
    font: 15px BPG Arial;
    color: rgb(145, 123, 123);
  }
  .recipe-card {
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
    -moz-box-shadow: 0px 0px 20px 1px rgba(240,241,243,1);
    box-shadow: 0px 0px 20px 1px rgba(145, 146, 149, 0.779);
    border:1px solid #f0f1f3;
    width: 300px;
    margin: 50px auto;
  }
  .recipe-card__body {    
      padding: 20px;
  }
  .recipe-card__heading {
    padding: 0;
    margin: 0 0 0;
    margin-bottom: 20px;
    font-size: 20px;
    color: #444;
  }
  .recipe-card__subhead { 
    font-style: italic;
    font-size: 13px;
    color: #555;
    margin-bottom: 30px;
  }
  .recipe-card__ingredients {
    font-family: 'BPG Nino Mtavruli';
    line-height: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    column-count: 1;
  }
  
  .recipe-card__nav {
    margin: 0 0 20px;
    padding: 0;
    border-bottom: 1px solid #eb9376;
  }
  .active {
    cursor: pointer;
    font-family: BPG Arial;
    font-size: 16px;
    
  }
  .pesto-img{
    overflow: hidden;
  }
  
  @media (min-width:599px) {
    .recipe-card {
      max-width: 600px;
      width: 100%;
    }
    .recipe-card__ingredients {
      column-count: 2
    }
  }


.locations h1 {
  font-family: BPG Arial;
  letter-spacing: 5px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.shop-main-wrapper {
  text-align: center;
}
.shop-wrapper {
  margin-top: 30px;
  height: auto;
}
.shop-wrapper img {
  border-radius: 20px;
  height: 100px;
}
.shop-wrapper img:hover {
  border-radius: 20px;
  height: 110px;
  transition: all 0.2s linear;
}

.sections-wrapper {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1480px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.recipt {
  border-radius: 30px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  }
.footer-wraper {
  margin: 0 auto;
  max-width: 1480px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 90px;
  flex-wrap: wrap;
  }
.footer-div-1 {
  max-width: 280px;
  width: 100%;
  }
.footer-div-1 h2 {
  font-family:'BPG Arial';
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 20px;
  }
.footer-div-1 p {
  font-family:'BPG Arial';
  color: #B1B1B1;
  font-size: 14px;
  line-height: 19px;
    
  }

  .useful-links {
    font-family:'Poppins', sans-serif;
    max-width: 110px;
    width: 100%;
  }
  .useful-links a {
    font-family:'BPG Arial';
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;

  }
  .useful-links h3 {
    font-family:'BPG Arial';
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-bottom: 21px;
  }
 
  .privacy {
    font-family:'Poppins', sans-serif;
    max-width: 100px;
    width: 100%;
  }
  .privacy a {
    font-family:'BPG Arial';
    color: rgb(88, 99, 248);
    padding: 10px 0;
    display: block;
  }
  .privacy h3 {
    font-family: 'BPG Arial';
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 21px;
  }
    
  .contact {
    font-family:'Poppins', sans-serif;
    max-width: 200px;
    width: 100%;
  }
  .contact h3 {
    font-family: 'BPG Arial';
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 21px;
  }
  .contact i {
    color: #5863F8;
    max-width: 16px;
    width: 1100%;
    height: 12.83px;
  }
  .contact a {
    font-family:'BPG Arial';
    font-size: 14px;
    color: #FFFFFF;
  }
  .contact-li {
    padding: 10px 0;
  }
  .contact-li a {
    padding-left: 14px;
  }
  .copyright {
    font-family:'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    color: #B1B1B1;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .copyright span {
    font-family:'Poppins', sans-serif;
    color: #5863F8;
  }
 
  @media (max-width: 1024px) {
    .section2 {
      height: 1000px;
    }
  }
  @media (max-width: 768px) {
      .footer-div-1,
      .blok {
          width: 45%;
      }
    .bar-div {
      display: block;
      font-size: 14px;
    }
    .useful-links , .privacy , .contact {
      margin-top: 20px;
    }
    .contact a{
      font-size: 10px;
    }
    .h3 {
      width: 450px;
      height: 70px;
      font-size: 38px;
    }
    .section4 p {
      font-size: 38px;
      width: 400px;
      height: 70px;
    }
    .sec-3paragraph {
      width: 483px;
      height: 387px;
    }
    .bottom {
      flex-direction: column;
      align-items: center;
    }
    .bottom-mid {
      margin: 30px 0;
    }
  }
  
  @media (max-width: 480px) {
    .contact a{
      font-size: 10px;
    }
    .header {
      width: 400px;
    }
    .footer-div-1,
      .blok {
          width: 100%;
      }
  }


 

  
